{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey - {{ title }}</title>
    <link rel="stylesheet" href="{% static 'djf_surveys/te-starter/css/tw-elements.min.css' %}">
    <script src="https://cdn.tailwindcss.com/3.3.1"></script>
    <script src="https://cdn.tailwindcss.com/3.3.1?plugins=forms@0.5.3,typography@0.5.9,aspect-ratio@0.4.2"></script>
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            {% include 'djf_surveys/components/alert.html' %}
        {% endfor %}
    {% endif %}
    {% include 'djf_surveys/components/header_nav.html' %}
    <div class="container mx-auto">
        {% block content %} {% endblock %}
    </div>
    <script src="{% static 'djf_surveys/te-starter/js/tw-elements.umd.min.js' %}"></script>
    {% include 'djf_surveys/components/alert_js.html' %}
    {% block extra_js %}{% endblock %}
</body>
</html>