<!doctype html>
{% load i18n static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Survey" %} - {{ title }}</title>
    <script src="{% static 'djf_surveys/css/tailwindcss-3.3.1.js' %}"></script>
    <script src="{% static 'djf_surveys/css/tailwindcss-plugin-3.3.1.js' %}"></script>
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            {% include 'djf_surveys/components/alert.html' %}
        {% endfor %}
    {% endif %}
    <div class="container mx-auto">
        {% block content %} {% endblock %}
    </div>

    {% include 'djf_surveys/components/alert_js.html' %}
    {% block extra_js %}{% endblock %}
</body>
</html>