{% extends 'surveys/master.html' %}

{% block content %}
    <section>
        <div class="py-16 lg:items-end lg:justify-between lg:flex sm:px-6 lg:px-8">
            <h2 class="max-w-xl text-2xl font-bold sm:text-3xl">
                Result - {{ object.name }}
            </h2>

            <a href="{% url 'surveys:create' survey.id %}" class="inline-block px-5 py-3 mt-4 font-medium text-white bg-blue-600 rounded-lg hover:bg-blue-500 sm:m-0">
                Add Survey
            </a>
        </div>
    </section>

    {% if objects %}
        <div class="grid grid-cols-3 gap-4">
        {% for object in objects %}
            {% include 'surveys/components/card_list_answer.html' %}
        {% endfor %}
    {% else %}
        {% include 'surveys/components/empty_state.html' %}
    {% endif %}
    </div>
{% endblock %}