{% extends 'surveys/master.html' %}
{% load survey_tags %}

{% block content %}
<div class="max-w-screen-xl px-4 py-16 mx-auto sm:px-6 lg:px-8">
  <div class="max-w-lg mx-auto">
    <h1 class="text-2xl font-bold text-center text-indigo-600 sm:text-3xl">{{ object.name }}</h1>

    <p class="max-w-md mx-auto mt-4 text-center text-gray-500">
      {{ object.description }}
    </p>

    <form method="post" class="p-8 mt-6 mb-0 space-y-4 rounded-lg shadow-2xl">
        {% csrf_token %}
        {% for field in form %}
            <div>
                <label for="email" class="text-sm font-medium">{{ field.label }}</label>

                <div class="relative mt-1">
                    {% if field.field.widget.input_type == 'radio' %}
                        {{ field }}
                    {% else %}
                        {{ field|addclass:'w-full p-4 pr-12 text-sm border-gray-200 rounded-lg shadow-sm' }}
                    {% endif %}
                </div>
            </div>

         {% endfor %}

      <button type="submit" class="block w-full px-5 py-3 text-sm font-medium text-white bg-indigo-600 rounded-lg">
        Submit
      </button>
    </form>
  </div>
</div>

{% endblock %}